@font-face {
  font-family: "Pacificio";
  src: url("../fonts/Pacificio/Pacifico-Regular.ttf");
  src: url("../fonts/Pacificio/Pacifico-Regular.woff");
  src: url("../fonts/Pacificio/Pacifico-Regular.woff2");
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Raleway', sans-serif;
}
.bg{
	background:linear-gradient(rgba(20,20,20,0.7),rgba(20,20,20,0.7)), url("../gallery/bg.jpg") ;
	width: 100%;
	min-height: 100vh; 
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;	
}
.logo{
	margin: auto;
}
.form{
	background: white;
	padding: 30px;
	border-radius: 15px;
	min-height: 350px;
}
.send{
	background: #FF2F00;
	color: white;
	padding: 4px 22px;
	border: none;
	float: right;
	border-radius: 17px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	outline: none;
	/*margin-bottom: 15px;*/
}
p{
	color: white;
	margin-top: 120px;
	text-align: center;
}
h1{
	color: white;
	font-family: "Pacificio",  sans-serif;
	text-align: center;
}
/*.form-group {
  position: relative;
}*/
.form-control{
	border: none;
	border-bottom: 2px #EC000E solid; 
	outline: none!important;
}

/*.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}
.form-control:focus + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}	
.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}*/
.margin{
	margin-top: 10vh;
}
.text{
	margin-top: 35px;
	margin-bottom: 0;
	font-weight: bold;
	color: #FF522A;
	text-align: center;

}